@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../public/DINNextLTArabic-Regular-3.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../public/DINNextLTArabic-Regular-3.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../public/DINNextLTArabic-Regular-3.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
